
 * {
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
 h1 {
    background-color: black;
    color:cyan;
    margin: 20px;

 }
 span#letras{
    color: white;

 }
 h2{
    background-color: ;
 }